@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
a, a:hover, a:active, a:visited{
    text-decoration: none;
}

*{
    margin: 0;
    padding: 0;

}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #111;
    background: #f2f2f2;
    font-family: 'Ubuntu', sans-serif;
}
@media (min-width: 320px){
    .container{
        width: 100%;
        max-width: 1080px;
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        
    }
    header{
        width: 100%;
        min-height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: fixed;
        bottom: 0;
        left: 0;
        -webkit-box-shadow: 0px -2px 10px 2px #e7e7e7; 
        box-shadow: 0px -2px 10px 2px #e7e7e7;
        z-index: 999;
        transition: height .2s;
    }
    header section{
        width: 90%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }
    header h1{
        font-size: .95rem;
        transition: color .1s;
        
    }
    header img{
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;
    }
    header #social{
        width: 200px;
        height: 40px;
        display: none;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        margin: 1rem 0 2rem 0;
    }
    main{
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
        background: #fff;
    }
    main .double_item{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        background: #63ff88;
    }
    main .double_item .item{
        width: 50%;
        
    }
    main .double_item .item h3{
        font-size: 1.2rem;
        text-align: center;
    }
    main section{
        width: 90%;
        display: flex;
        align-items: left;
        justify-content: center;
        flex-direction: column;

    }
    main h3{
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: .5rem;
    }
    main p{
        font-size: .95rem;
        font-weight: 400;
        margin: .2rem 0 .2rem 0;
    }
    main button{
        width: 125px;
        height: 50px;
        
        display: flex;
        align-items: center;
        justify-content: space-around;
        outline: none;
        border: none;
        border-radius: .4rem;
        margin: 1rem 0 1rem 0;
        font-weight: 400;
        font-style: .9rem;
        color: #fff;
        background: #63ff88;
    }
    main button img{
        width: 1.5rem;
        height: 1.5rem;
    }
}
